body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body, 
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: sans-serif;

}
.app{
  display: flex;
  position: relative;
}
/* barra de desplazamiento */
::-webkit-scrollbar{
  width: 100%;
}
/* track */
::-webkit-scrollbar-track{
  background: #e0e0e0;
}
/* handle */
::-webkit-scrollbar-thumb{
  background:#888;
}
/* handle on hover */
::-webkit-scrollbar-track:hover{
  background: #555;
}
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}